<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <br>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add_post/">Add Post</a></li>
           
        </ul>
    </nav>

    <form action="{% url 'main_app:search' %}" method="GET" role="search" style="text-align: center">
        <input type="search" name="search" minlength="4">
    </form>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <br>
    <footer style="text-align: center"> Copyright &copy; 2023 </footer>
    <br>

</body>
</html>